[Desktop Entry]
Encoding=ISO 8859-6
Exec=hDisplay
Icon=images/display.xpm
Name=Desktop settings
Name[ar]=Œ’«∆’ «‰Ÿ—÷
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
