Package: 	hde
Version: 	2.0.3
Section: 	x11
Priority: 	optional
Architecture: 	all
Essential: no
Depends: 	libhde (>= 2.0.3), libqt4-core (>= 4.3), libqt4-gui (>= 4.3)
Installed-Size: 3068
Maintainer: 	Haydar Alkaduhimi <haydar@haydarlinux.org>
Provides: 	hde
Description: 	A window manager that support reading and writing arabic as well as other languages depending on QT4 library's. Because it makes heavy use of a high level API it can be kept small, stable and easy to maintain. It will also emulate the look of Windows 9x/XP to make the transfer to linux


